<%= form_for(@capital_build_up) do |f| %>
  <% if @capital_build_up.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capital_build_up.errors.count, "error") %> prohibited this capital_build_up from being saved:</h2>

      <ul>
      <% @capital_build_up.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <label>Member ID:</label><br/>
	<% if @member.nil? %>    
    	<div class="control-group">
  			<%= collection_select(:capital_build_up, :member_id, Member.all, :id, :fullname, {:include_blank => true} ) %>
		</div>
	<% else %>
		<%= f.text_field :member_id, :readonly => true, :value => @member.id %>
		<%= @member.fullname %>
	<% end %>		
  </div>

  
<div class="field">
    <label>Membership Type:</label><br/>
    <%= f.radio_button(:membership_type, "New") %>
	<%= f.label(:membershipType_N, "New") %>     
    <%= f.radio_button(:membership_type, "Regular") %>
	<%= f.label(:membershipType_R, "Regular") %>
	<%= f.radio_button(:membership_type, "Associate") %>
	<%= f.label(:membershipType_A, "Associate") %>
  </div>
  
  <div class="field">
   <label>Member Since:</label><br/>
    <%= f.date_select :member_since %>
  </div>
  <div class="field">
   <label>Subscribed Shares:</label><br/>
    <%= f.number_field :subscribed_shares %>
  </div>
  <div class="field">
    <label>Amount per Share:</label><br/>
    <%= f.number_field :amount_per_shares %>
  </div>
  <div class="field">
    <label>Total Amount of Shares:</label><br/>
    <%= f.number_field :total_amount_shares %>
  </div>
  <div class="field">
    <label>Initial Payment:</label><br/>
    <%= f.text_field :initial_payment %>
  </div>
  <div class="field">
    <label>Total Paid Amount:</label><br/>
    <%= f.text_field :total_paid_amount %>
  </div>
  <div class="field">
    <label>Paid Shares Percentage:</label><br/>
    <%= f.text_field :paid_shares_percentage %>
  </div>
  <div class="field">
    <label>Terms of Payment:(months)</label><br/>
    <%= f.text_field :terms_of_payment %>
  </div>
  <div class="field">
    <label>Status:</label><br/>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :remarks %><br>
    <%= f.text_area :remarks %>
  </div>
  <div class="actions">
    <%= f.submit"Save" %>
  </div>
<% end %>
