<h1>List of CBU contributions</h1>
<strong><%= @memberName %></strong></br>

<%= link_to 'Add Payment', new_cbu_contribution_path(:cbu_id =>  params[:cbu_id]) %>
<br/><%= link_to 'Home', root_path %>
<br/>
<br/>

<table>
  <thead>
    <tr>
	  <th>CBU Id</th>
      <th>Amount</th>
      <th>Payment date</th>
        <th>OR number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment.each do |cbu_contribution| %>
      <tr>
        <td><%= cbu_contribution.cbu_id %></td>
        <td><%= cbu_contribution.amount %></td>
        <td><%= cbu_contribution.payment_date %></td>
        <td><%= cbu_contribution.ornumber %></td>
        <td><%= link_to 'Show', cbu_contribution %></td>
        <td><%= link_to 'Edit', edit_cbu_contribution_path(cbu_contribution) %></td>
 		<td><%= link_to 'Destroy', cbu_contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>     
 	  </tr>
    <% end %>
  </tbody>
</table>