<p id="notice"><%= notice %></p>

<p>
  <strong>Memberid:</strong>
  <%= @capital_build_up.memberId %>
</p>

<p>
  <strong>Membershiptype:</strong>
  <%= @capital_build_up.membershipType %>
</p>

<p>
  <strong>Membersince:</strong>
  <%= @capital_build_up.memberSince %>
</p>

<p>
  <strong>Subscribedshares:</strong>
  <%= @capital_build_up.subscribedShares %>
</p>

<p>
  <strong>Totalamountshares:</strong>
  <%= @capital_build_up.totalAmountShares %>
</p>

<p>
  <strong>Initialpayment:</strong>
  <%= @capital_build_up.initialPayment %>
</p>

<p>
  <strong>Totalpaidamount:</strong>
  <%= @capital_build_up.totalPaidAmount %>
</p>

<p>
  <strong>Paidsharespercentage:</strong>
  <%= @capital_build_up.paidSharesPercentage %>
</p>

<p>
  <strong>Termsofpayment:</strong>
  <%= @capital_build_up.termsOfPayment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @capital_build_up.status %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @capital_build_up.remarks %>
</p>

<%= link_to 'Edit', edit_capital_build_up_path(@capital_build_up) %> |
<%= link_to 'Back', capital_build_ups_path %>
