<p id="notice"><%= notice %></p>

<p>
  <strong>Staff ID:</strong>
  <%= @admin_staff.staff_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin_staff.staff_name %>
</p>
<p>
  <strong>Birthday:</strong>
  <%= @admin_staff.birthday %>
</p>
<p>
  <strong>Date hired:</strong>
  <%= @admin_staff.date_hired %>
</p>

<p>
  <strong>Position:</strong>
  <%= @admin_staff.staff_position %>
  
  </p>

<p>
  <strong>Status:</strong>
  <%= @admin_staff.status %>
</p>

<%= link_to 'Edit', edit_admin_staff_path(@admin_staff) %> |
<%= link_to 'Back', admin_staffs_path %> <br/>

