<h1>Listing withdrawals</h1>

<%= link_to 'New Withdrawal', new_withdrawal_path %>
<br/><%= link_to 'Home', root_path %>
<br/>
<br/>
<table>
  <thead>
    <tr>
      <th>Member ID</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Ornumber</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @withdrawals.each do |withdrawal| %>
      <tr>
        <td><%= withdrawal.memberId %></td>
        <td><%= withdrawal.date %></td>
        <td><%= withdrawal.amount %></td>  
        <td><%= withdrawal.orNumber %></td>
        <td><%= link_to 'Show', withdrawal %></td>
        <td><%= link_to 'Edit', edit_withdrawal_path(withdrawal) %></td>
        <td><%= link_to 'Destroy', withdrawal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


