<p id="notice"><%= notice %></p>

<p>
  <strong>Memberid:</strong>
  <%= @withdrawal.member_id %> -
  <%= @memberName.fullname %>
  
</p>

<p>
  <strong>Date:</strong>
  <%= @withdrawal.date_time %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @withdrawal.amount %>
</p>

<p>
  <strong>OR Number:</strong>
  <%= @withdrawal.ornumber %>
</p>

<p>
  <strong>Staffid:</strong>
  <%= @withdrawal.staff_id %> -
  <%= @staffname.staff_name %>
  
</p>

<%= link_to 'Edit', edit_withdrawal_path(@withdrawal) %> |
<%= link_to 'Back', withdrawals_path %>
