<p id="notice"><%= notice %></p>

<p>
  <strong>Memberid:</strong>
  <%= @withdrawal.memberId %> -
  <%= @memberName.fullname %>
  
</p>

<p>
  <strong>Date:</strong>
  <%= @withdrawal.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @withdrawal.amount %>
</p>

<p>
  <strong>OR Number:</strong>
  <%= @withdrawal.orNumber %>
</p>

<p>
  <strong>Staffid:</strong>
  <%= @withdrawal.staffId %> -
  <%= @staffname.name %>
  
</p>

<%= link_to 'Edit', edit_withdrawal_path(@withdrawal) %> |
<%= link_to 'Back', withdrawals_path %>
