<%= form_for(@co_maker) do |f| %>
  <% if @co_maker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@co_maker.errors.count, "error") %> prohibited this co_maker from being saved:</h2>

      <ul>
      <% @co_maker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <label for="name">Comaker ID</label>
     <%= f.number_field :coMakerId, readonly:true %>
  </div>
  <div class="field">
   <label for="name">First Name</label>
    <%= f.text_field :coMakerfname %>
  </div>
  <div class="field">
    <label for="name">Middle Name</label>
    <%= f.text_field :coMakermname %>
  </div>
  <div class="field">
    <label for="name">Last Name</label>
    <%= f.text_field :coMakerlname %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br>
 
    <%= f.date_select(:birthdate, start_year: 1950) %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :spouse %>
    <%= f.text_field :spouse %>
  </div>
  <div class="field">
   <label for="name">Contact Number</label>
    <%= f.number_field :contactNumber %>
  </div>
  <div class="field">
    <%= f.label :employer %>
    <%= f.text_field :employer %>
  </div>
  <div class="field">
    <label for="name">Employer Address</label>
    <%= f.text_field :employerAddress %>
  </div>
  <div class="field">
    <label for="name">Employer's Contact Number</label>
    <%= f.number_field :employerContactNumber %>
  </div>
  <div class="field">
    <%= f.label :relationship %>
    <%= f.text_field :relationship %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
