<h1>Comakers list</h1>

<%= link_to 'New Comaker', new_co_maker_path %>
<br/><%= link_to 'Home', welcome_index_path %>
<br/>
<br/>

<%= form_tag("/co_makers/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %> By:
   <%= select_tag :r, options_for_select([ " ","lastname","co-maker number"], " ")%>
  <%= submit_tag("Search") %>
<% end %>

<br/>
<br/>

<table>
  <thead>
    <tr>
      <th>Comaker Id</th>
      <th>Comaker name</th>
      <th></th>
      <th></th>
      <th>Birthdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @co_makers.each do |co_maker| %>
      <tr>
        <td><%= co_maker.comaker_number %></td>
        <td><%= co_maker.comakerlname %>,</td>
        <td><%= co_maker.comakerfname %></td>
        <td><%= co_maker.comakermname %></td>
       <td><%= co_maker.birthdate %></td>
       
        <td><%= link_to 'Show', co_maker %></td>
        <td><%= link_to 'Edit', edit_co_maker_path(co_maker) %></td>
        <td><%= link_to 'Destroy', co_maker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


