<h1>Comaker Information</h1>


<p id="notice"><%= notice %></p>

<strong>comaker count:<%= @cmcount %></strong></br>


<p>
  <strong>Comaker ID:</strong>
  <%= @co_maker.comaker_number %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @co_maker.comakerfname %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @co_maker.comakermname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @co_maker.comakerlname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @co_maker.birthdate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @co_maker.address %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @co_maker.spouse %>
</p>

<p>
  <strong>Contact Number:</strong>
  <%= @co_maker.contact_number %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @co_maker.employer %>
</p>

<p>
  <strong>Employer Address:</strong>
  <%= @co_maker.employer_address %>
</p>

<p>
  <strong>Employer contact number:</strong>
  <%= @co_maker.employer_contact_number %>
</p>

<%= link_to 'Edit', edit_co_maker_path(@co_maker) %> |
<%= link_to 'Back', co_makers_path %>
