<%= form_for(@saving) do |f| %>
  <% if @saving.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saving.errors.count, "error") %> prohibited this saving from being saved:</h2>

      <ul>
      <% @saving.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
  
  
  
    <label>Member ID:</label><br/>
	<% if @member.nil? %>    
    	<div class="control-group">
  			<%= collection_select(:saving, :member_id, Member.all, :id, :fullname, {:include_blank => true} ) %>
		</div>
	<% else %>
		<%= f.text_field :member_id, :readonly => true, :value => @member.id %>
		<%= @member.fullname %>
	<% end %>		
  </div>
  <div class="field">
    <label>Date and Time:</label><br/>
    <%= f.datetime_select :date_time %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
   <label>OR Number:</label><br/>
    <%= f.text_field :ornumber %>
  </div>
  <div class="field">
    <label>Staff ID:</label><br/>
    <div class="controls">
  	<%= collection_select( :saving, :staff_id, AdminStaff.all, :id, :staff_name, {:include_blank => true} ) %></br></br>
	</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
