<p id="notice"><%= notice %></p>

<p>
  <strong>Member ID:</strong>
  <%= @saving.member_id %> -
    <%= @memberName.fullname %>
</p>

<p>
  <strong>Date and time of Payment:</strong>
  <%= @saving.date_time %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @saving.amount %>
</p>

<p>
  <strong>OR number:</strong>
  <%= @saving.ornumber %>
</p>

<p>
  <strong>Staff ID:</strong>
  <%= @saving.staff_id %> -
    <%= @staffname.staff_name %>
</p>

<%= link_to 'Edit', edit_saving_path(@saving) %> |
<%= link_to 'Back', savings_path %>
