<h1>Agri-Industrial Multi-Purpose Cooperative</h1>



<h2>AIMCIMS</h2>

<%= link_to 'Membership', members_path %><br/>
<%= link_to 'Loan Management', loan_applications_path %><br/>
<%= link_to 'Savings Monitoring', savings_path %><br/>
<%= link_to 'Accounts Monitoring', admin_staffs_path %><br/>
<%= link_to 'Share Capital Build-Up', capital_build_ups_path %> 