<h1>Agri-Industrial Multi-Purpose Cooperative</h1>



<h2>AIMCIMS</h2>

<%= link_to 'Accounts Monitoring', admin_staffs_path %><br/>
<%= link_to 'Expenses Monitoring', expenses_path %> <br/>
<%= link_to 'Loan Management', loan_applications_path %><br/>
<%= link_to 'Membership Monitoring', members_path %><br/>
<%= link_to 'Savings Monitoring', savings_path %><br/>
<%= link_to 'Share Capital Build-Up Monitoring', capital_build_ups_path %> <br/>
<%= link_to 'Withdrawals Monitoring', withdrawals_path %> <br/>
