<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Member ID:</label><br/>
    <%= f.text_field :member_number , readonly: true %>
  </div>
  <div class="field">
    <label>First Name:</label><br/>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
   <label>Middle Name:</label><br/>
    <%= f.text_field :middlename %>
  </div>
  <div class="field">
    <label>Last Name:</label><br/>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
     <label>Gender:</label><br/>
        
    <%= f.radio_button(:gender, "Female") %>
	<%= f.label(:g_f, "Female") %>
	<%= f.radio_button(:gender, "Male") %>
	<%= f.label(:g_m, "Male") %>
	
  </div>
  <div class="field">
    <%= f.label :birthdate %><br>
    <%= f.date_select(:birthdate, start_year: 1950) %>
  </div>
  <div class="field">
    <label>Permanent Address:</label><br/>
    <%= f.text_field :permanent_address %>
  </div>
  <div class="field">
   <label>Home Number:</label><br/>
    <%= f.text_field :home_number %>
  </div>
  <div class="field">
   <label>Office Number:</label><br/>
    <%= f.text_field :office_number %>
  </div>
  <div class="field">
    <label>Mobile Number:</label><br/>
    <%= f.text_field :mobile_number %>
  </div>
  <div class="field">
    <label>Personal Email Address:</label><br/>
    <%= f.text_field :personal_email %>
  </div>
  <div class="field">
    <label>Civil Status:</label><br/>
        
    <%= f.radio_button(:civil_status, "Single") %>
	<%= f.label(:p_B, "Single") %>
	<%= f.radio_button(:civil_status, "Married") %>
	<%= f.label(:p_M, "Married") %>
	<%= f.radio_button(:civil_status, "Widow") %>
	<%= f.label(:p_S, "Widow") %>
	<%= f.radio_button(:civil_status, "Widower") %>
	<%= f.label(:p_S, "Widower") %>
	<%= f.radio_button(:civil_status, "Divorced") %>
	<%= f.label(:p_M, "Divorced") %>
<div class="field">
    <label>Bank Account:</label><br/>
    <%= f.text_field :bank_account %>
  </div>
  <div class="field">
    <label>Enrolled with Postbank:</label><br/>
    <%= f.check_box :enrolled_with_postbank %>
  </div>
  <div class="field">
    <%= f.label :employer %><br>
    <%= f.text_field :employer %>
  </div>
  <div class="field">
    <label>Employer Number:</label><br/>
    <%= f.text_field :employer_number %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :work_position %>
  </div>
  <div class="field">
   <label>Office Address:</label><br/>
    <%= f.text_field :office_address %>
  </div>
  <div class="field">
    <label>Office Email:</label><br/>
    <%= f.text_field :office_email %>
  </div>
  	
  	</br>
  </br>
  
  </div>
  <div class="field">
    <%= f.label :spouse %><br>
    <%= f.text_field :spouse %>
  </div>
  <div class="field">
    <label>Occupation of Spouse:</label><br/>
    <%= f.text_field :occupation_of_spouse %>
  </div>
  <div class="field">
   <label>Employer of Spouse:</label><br/>
    <%= f.text_field :spouse_employer %>
  </div>
  <div class="field">
    <label>Employer Number of Spouse:</label><br/>
    <%= f.text_field :spouse_employer_number %>
  </div>
  <div class="field">
  <label>Position of Spouse:</label><br/>
    <%= f.text_field :spouse_work_position %>
  </div>
  <div class="field">
   <label>Office Address of Spouse:</label><br/>
    <%= f.text_field :spouse_office_address %>
  </div>
  
  </br>
  </br>
  
  <div class="field">
    <label>Membership Type:</label><br/>
    <%= f.radio_button(:membership_type, "New") %>
	<%= f.label(:membershipType_N, "New") %>     
    <%= f.radio_button(:membership_type, "Regular") %>
	<%= f.label(:membershipType_R, "Regular") %>
	<%= f.radio_button(:membership_type, "Associate") %>
	<%= f.label(:membershipType_A, "Associate") %>
  </div>
  
  <div class="field">
    <label>Date Approved:</label><br/>
    <%= f.date_select :date_approved %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <label>Password:</label><br/>
    <%= f.text_field :password %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
