<h1>Listing members</h1>

<%= link_to 'New Member', new_member_path %>
<br/><%= link_to 'Savings', savings_path %>
<br/><%= link_to 'Withdrawals', withdrawals_path %>
<br/><%= link_to 'Home', root_path %>
<br/>
<br/> 

<%= form_tag("/members/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>   By:
    <%= select_tag :r, options_for_select([ " ","lastname", "gender", "membership_type","member_number"], " ")%>
  <%= submit_tag("Search") %>
<% end %>
 
<table>
  <thead>
    <tr>
  <th>Member ID</th>  
      <th>Member number</th>
      <th>Firstname</th>
      <th>Middlename</th>
      <th>Lastname</th>
      <th>Gender</th>
      <th>Birthdate</th>
      <th>Civil Status</th>
      <th>Membership Type</th>
      <th>Date Approved</th>
      
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
      <td><%= member.id %>:</td>
        <td><%= member.member_number %>:</td>
        <td><%= member.lastname %>,</td>
        <td><%= member.firstname %></td>
        <td><%= member.middlename %></td>
        <td><%= member.gender %></td>
        <td><%= member.birthdate %></td>
        <td><%= member.civil_status %></td>
        <td><%= member.membership_type %></td>
        <td><%= member.date_approved %></td>
        
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

