<p id="notice"><%= notice %></p>

<p>
  <strong>Member ID:</strong>
  <%= @member.memberId %>
</p>

<p>
  <strong>First name:</strong>
  <%= @member.firstname %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @member.middlename %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.lastname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @member.birthdate %>
</p>

<p>
  <strong>Permanent address:</strong>
  <%= @member.permanentAddress %>
</p>

<p>
  <strong>Home number:</strong>
  <%= @member.homeNumber %>
</p>

<p>
  <strong>Office number:</strong>
  <%= @member.officeNumber %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @member.mobileNumber %>
</p>

<p>
  <strong>Personal email:</strong>
  <%= @member.personalEmail %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @member.civilSatus %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @member.spouse %>
</p>

<p>
  <strong>Occupation of spouse:</strong>
  <%= @member.spouseOccupation %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @member.bankAccount %>
</p>

<p>
  <strong>Enrolled with postbank:</strong>
  <%= @member.enrolledWithPostbank %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @member.employer %>
</p>

<p>
  <strong>Employer Number:</strong>
  <%= @member.employerNumber %>
</p>

<p>
  <strong>Position:</strong>
  <%= @member.position %>
</p>

<p>
  <strong>Office Address:</strong>
  <%= @member.officeAddress %>
</p>

<p>
  <strong>Office Email:</strong>
  <%= @member.officeEmail %>
</p>

<p>
  <strong>Membership Type:</strong>
  <%= @member.membershipType %>
</p>

<p>
  <strong>Date approved:</strong>
  <%= @member.dateApproved %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @member.notes %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
