<p id="notice"><%= notice %></p>

<%= link_to 'Add Saving', new_saving_path %><br/>
<%= link_to 'Add Withdrawal', withdrawals_path %><br/>

<p>
  <strong>Member ID:</strong>
  <%= @member.id%>
  <%= @member.member_number%>
</p>

<p>
  <strong>First name:</strong>
  <%= @member.firstname %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @member.middlename %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.lastname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @member.birthdate %>
</p>

<p>
  <strong>Permanent address:</strong>
  <%= @member.permanent_address %>
</p>

<p>
  <strong>Home number:</strong>
  <%= @member.home_number %>
</p>

<p>
  <strong>Office number:</strong>
  <%= @member.office_number %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @member.mobile_number %>
</p>

<p>
  <strong>Personal email:</strong>
  <%= @member.personal_email %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @member.civil_status %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @member.spouse %>
</p>

<p>
  <strong>Occupation of spouse:</strong>
  <%= @member.occupation_of_spouse %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @member.bank_account %>
</p>

<p>
  <strong>Enrolled with postbank:</strong>
  <%= @member.enrolled_with_postbank %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @member.employer %>
</p>

<p>
  <strong>Employer Number:</strong>
  <%= @member.employer_number %>
</p>

<p>
  <strong>Position:</strong>
  <%= @member.work_position %>
</p>

<p>
  <strong>Office Address:</strong>
  <%= @member.office_address %>
</p>

<p>
  <strong>Office Email:</strong>
  <%= @member.office_email %>
</p>

<p>
  <strong>Membership Type:</strong>
  <%= @member.membership_type %>
</p>

<p>
  <strong>Date approved:</strong>
  <%= @member.date_approved %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @member.notes %>
</p>
<br/>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
<br/>
<br/>
<p>
  <h2>Savings:</h2>
  <table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>OR Number</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </tbody>
  
  <tbody>
    <% @savings.each do |saving| %>
      <tr>
        <td><%= saving.date_time %></td>
        <td><%= saving.amount %></td>
        <td><%= saving.ornumber %></td>
        <td><%= saving.remarks %></td>
       
      </tr>
    <% end %>
  </tbody>
  </table>
</p>

<p>
  <h2>Withdrawals:</h2>
  <table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>OR Number</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </tbody>
  
  <tbody>
    <% @withdrawals.each do |withdrawal| %>
      <tr>
        <td><%= withdrawal.date_time %></td>
        <td><%= withdrawal.amount %></td>
        <td><%= withdrawal.ornumber %></td>
        <td><%= withdrawal.remarks %></td>
       
      </tr>
    <% end %>
  </tbody>
  </table>
</p>
<h2>Loans:</h2>
<table>
  <thead>
    <tr>
      <th>Loan Type</th>
      <th>Amount Loaned</th>
      <th>Date Approved</th>
      <th>Maturity Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </tbody>
