<%= form_for(@loan_type) do |f| %>
  <% if @loan_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan_type.errors.count, "error") %> prohibited this loan_type from being saved:</h2>

      <ul>
      <% @loan_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
   <label>Loan Name:</label><br/>
    <%= f.text_field :loan_name %>
    
 
  </div>
  <div class="field">
   <label>Maximum Amount:</label><br/>
    <%= f.text_field :maxamount %>
  </div>
  <div class="field">
   <label>Minimum Amount:</label><br/>
    <%= f.text_field :minamount %>
  </div>
  <div class="field">
   <label>Interest Rate:</label><br/>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <label>Period:(month/s)</label><br/>
    <%= f.number_field :period %>
  </div>
  
   <div class="field">
    <label>Penalty:(percent)</label><br/>
    <%= f.text_field :penalty %>
  </div>
  <div class="field">
 <label>Date Created:</label><br/>
    <%= f.datetime_select :date_created %>
  </div>
   <div class="control-group">
  	<%=f.label :staff, class: 'control-group' %>
  		<div class="controls">
  			<%= collection_select( :loan_type, :created_by, AdminStaff.all, :id, :staff_name, {:include_blank => true} ) %></br></br>
		</div>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
