<p id="notice"><%= notice %></p>

<p>
  <strong>Loan Name:</strong>
  <%= @loan_type.loan_name %>
</p>

<p>
  <strong>Maximum amount:</strong>
  <%= @loan_type.maxamount %>
</p>

<p>
  <strong>Minimum ammount:</strong>
  <%= @loan_type.minamount %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @loan_type.interest %>
</p>

<p>
  <strong>Period:</strong>
  <%= @loan_type.period %>
</p>


<p>
  <strong>Penalty:</strong>
  <%= @loan_type.penalty %>
</p>

<%= link_to 'Edit', edit_loan_type_path(@loan_type) %> |
<%= link_to 'Back', loan_types_path %>
