<%= form_for(@loan_application) do |f| %>
  <% if @loan_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan_application.errors.count, "error") %> prohibited this loan_application from being saved:</h2>

      <ul>
      <% @loan_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <label>Loan Type:</label><br/>
     <div class="control-group">
<%=collection_select( :loan_application, :loan_type_id, LoanType.all, :id, :loanName, {}, { :multiple=> false})%>
</div>
   </div>
   
  
  
  <div class="control-group">
  	<%=f.label :member, class: 'control-group' %>
  		<div class="controls">
  			<%= collection_select( :loan_application, :member_id, Member.all, :id, :fullname, {} ) %>
		</div>
	</div>
  
  <div class="field">      
    <label>Application Type:</label><br/>
    <%= f.radio_button(:applicationType, "New") %>
	<%= f.label(:as_N, "New") %>
	<%= f.radio_button(:applicationType, "Renew") %>
	<%= f.label(:as_R, "Renew") %>
	<%= f.radio_button(:applicationType, "Restructured") %>
	<%= f.label(:as_Rs, "Restructured") %>
  </div>
  
  <div class="field">
    <label>Date Filed:</label><br/>
    <%= f.date_select :dateFiled %>
  </div>

  <div class="field">
  <label>Loan Amount:</label><br/>
    <%= f.text_field :loanAmount %>
  </div>
  
  <div class="field">      
    <label>Term of Payment:</label><br/>
    <%= f.radio_button(:termOfPayment, "Daily") %>
	<%= f.label(:as_d, "Daily") %>
	<%= f.radio_button(:termOfPayment, "Weekly") %>
	<%= f.label(:as_w, "Weekly") %>
	<%= f.radio_button(:termOfPayment, "Monthly") %>
	<%= f.label(:as_m, "Monthly") %>
	<%= f.radio_button(:termOfPayment, "Quarterly") %>
	<%= f.label(:as_q, "Quarterly") %>
	<%= f.radio_button(:termOfPayment, "Biannually") %>
	<%= f.label(:as_b, "Biannually") %>
	<%= f.radio_button(:termOfPayment, "Annually") %>
	<%= f.label(:as_a, "Annually") %>
  </div>
 
  <div class="field">
  <label>Payment per Term:</label><br/>
    <%= f.text_field :paymentPerTerm %>
  </div>
  
  <div class="field">
  <label>Penalty:</label><br/>
    <%= f.text_field :penaltyAmount %>
  </div>
  
  
  
  <div class="field">
  <label>Other Resources:</label><br/>
    <%= f.text_area :otherResources %>
  </div>
  <div class="field">
    <label>Total Family Income:</label><br/>
    <%= f.text_field :totalFamilyIncome %>
  </div>
  <div class="field">
    <label>Real Properties:</label><br/>
    <%= f.text_field :realProperties %>
  </div>
  
  <div class="field">
    <label>Co-Maker 1:</label><br/>
    <div class="control-group">
<%=collection_select( :loan_application, :coMaker1_id, CoMaker.all, :id, :cmfullname, {}, {:multiple=> false})%>
  </div>
  </div>
  <div class="field">
    <label>Relationship to the applicant:</label><br/>
    <%= f.text_field :relationship1 %>
  </div>
  

  
  <div class="control-group">
  	<label>Co-maker 2:</label><br/>
  		<div class="controls">
  		<%= collection_select( :loan_application, :coMaker2_id, CoMaker.all, :id, :cmfullname, {}, {:multiple=> false} ) %>
		</div>
	</div>
    
  </div>
  
  <div class="field">
    <label>Relationship to the applicant:</label><br/>
    <%= f.text_field :relationship2 %>
  </div>
  
  <div class="field">
    <%= f.label :remarks %><br>
    <%= f.text_area :remarks %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <div class="field">      
    <label>Application Status:</label><br/>
    <%= f.radio_button(:applicationStatus, "Pending") %>
	<%= f.label(:as_P, "Pending") %>
	<%= f.radio_button(:applicationStatus, "Approved") %>
	<%= f.label(:as_A, "Approved") %>
	<%= f.radio_button(:applicationStatus, "Rejected") %>
	<%= f.label(:as_R, "Rejected") %>
  </div>
    <div class="field">
   <label>Date Approved:YYYY-MM-DD (ex. 2015-01-01)</label><br/>
   <%= f.date_field :dateApproved %>
  </div>
  <div class="field">
    <label>Date Released: YYYY-MM-DD (ex. 2015-01-01)</label><br/>
   <%= f.date_field :dateReleased %>
  </div>
<% end %>
