<h1>Loan Management</h1>

<%= link_to 'Loan Types', loan_types_path %><br/>
<%= link_to 'Add Approved Loan', new_loan_application_path %><br/>
<%= link_to 'Loan Payments', loan_payments_path %><br/>
<%= link_to 'Comaker', co_makers_path %>
<br/><%= link_to 'Home', root_path %>
<br/>
<br/>

<%= form_tag("/loan_applications/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %> By:
   <%= select_tag :r, options_for_select([ " ","lastname","member_number"], " ")%>
  <%= submit_tag("Search") %>
<% end %>
  
<table>
  <thead>
    <tr>
      <th>Member Number</th>
      <th>Member Name</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member.each do |loan_application| %>
      <tr>
        
        <td><%= loan_application.member_number %></td>
        <td><%= loan_application.fullname %></td>
        
       
	  <td><%= link_to 'Member Loans', loan_applications_member_path(:member_id => loan_application.id) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

