<p id="notice"><%= notice %></p>

<p>
  <strong>Loan type ID:</strong>
  <%= @loan_application.loan_type_id %> :
  <%= @loan_type.loan_name %>
</p>

<p>
  <strong>Member ID:</strong>
  <%= @loan_application.member_id %> :
  <%= @memberName.fullname %>
</p>

<p>
  <strong>Application Type:</strong>
  <%= @loan_application.application_type %>
</p>

<p>
  <strong>Date filed:</strong>
  <%= @loan_application.date_filed %>
</p>

<p>
  <strong>Loan Amount:</strong>
  <%= @loan_application.loan_amount %>
</p>

<p>
  <strong>Term of Payment:</strong>
  <%= @loan_application.term_of_payment%>
</p>

<p>
  <strong>Penalty:</strong>
  <%= @loan_application.penalty_amount%>
</p>

<p>
  <strong>Other resources:</strong>
  <%= @loan_application.other_resources %>
</p>

<p>
  <strong>Total family income:</strong>
  <%= @loan_application.total_family_income %>
</p>

<p>
  <strong>Real properties:</strong>
  <%= @loan_application.real_properties %>
</p>

<p>
  <strong>Co-Maker 1:</strong>
  <%= @loan_application.comaker1%>-
  <%= @comakerName1.cmfullname %>
</p>

<p>
  <strong>Relationship to the applicant:</strong>
  <%= @loan_application.relationship1 %>
</p>

<p>
  <strong>Co-Maker 2:</strong>
  <%= @loan_application.comaker2 %>-
  <%= @comakerName2.cmfullname %>
</p>

<p>
  <strong>Relationship to the applicant:</strong>
  <%= @loan_application.relationship2 %>
</p>
<p>
  <strong>Remarks:</strong>
  <%= @loan_application.remarks %>
</p>


<p>
  <strong>Application status:</strong>
  <%= @loan_application.application_status %>
</p>

<p>
  <strong>Date approved:</strong>
  <%= @loan_application.date_approved %>
</p>

<p>
  <strong>Date released:</strong>
  <%= @loan_application.date_released %>
</p>

<%= link_to 'Edit', edit_loan_application_path(@loan_application) %> |
<%= link_to 'Back', loan_applications_path %>
