<h1>Listing expenses</h1>

<%= link_to 'New Expense', new_expense_path %>
<br/><%= link_to 'Home', root_path %></br></br>


<%= form_tag("/expenses/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>   By:
    <%= select_tag :r, options_for_select([ " ","category", "expense_date"], " ")%>
  <%= submit_tag("Search") %>
<% end %>
</br>

<table>
  <thead>
    <tr>
    <th>Category</th>
      <th>Particulars</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Approved by</th>
      <th>Received by</th>
      <th>Staff</th>
      <th colspan="3"></th>
    </tr>
  </thead> 

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
      <td><%= expense.category %></td>
        <td><%= expense.particulars %></td>
        <td><%= expense.expense_date %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.approved_by %></td>
        <td><%= expense.received_by %></td>
        <td><%= expense.staff_id %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
